<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [4]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [6]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
print(data.shape)
print(data.columns)

(271116, 15)
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [10]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

In [11]:
data.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [23]:
data[(data['Year']==1960)].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
83,24,Nils Egil Aaness,M,24.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,Speed Skating Men's 500 metres,NaN
84,24,Nils Egil Aaness,M,24.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
113,40,Roald Edgar Aas,M,31.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,"Speed Skating Men's 1,500 metres",Gold
114,40,Roald Edgar Aas,M,31.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
115,40,Roald Edgar Aas,M,31.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,"Speed Skating Men's 10,000 metres",NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

# Youngest Male Participant

In [26]:
data[(data['Sex']== 'M') & (data['Year'] ==1996)]['Age'].min()

14.0

# Youngest Female Participant

In [27]:
data[(data['Sex']== 'F') & (data['Year'] ==1996)]['Age'].min()

12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Consider only Gymnastics as a target sport. Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [90]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [91]:
data2 = data.drop_duplicates(subset =['ID']).reset_index(drop=True)

In [92]:
male_gyms = data2[(data2['Sex']== 'M') & (data2['Sport'] =='Gymnastics') & (data2['Year'] == 2000)]['ID'].count()

In [93]:
print(male_gyms)

63

In [94]:
all_male_part = data2[(data2['Sex']== 'M') & (data2['Year'] == 2000)]['ID'].count()

In [95]:
print(all_male_part)

4262

In [96]:
print(round(male_gyms/all_male_part,3)*100)

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [61]:
round(data[(data['Sex']== 'F') & (data['Sport'] =='Basketball') & (data['Year'] == 2000)]['Height'].mean(),1)

182.4

In [62]:
round(data[(data['Sex']== 'F') & (data['Sport'] =='Basketball') & (data['Year'] == 2000)]['Height'].std(),1)

9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [69]:
data[(data['Weight']==123) & (data['Year']==2002)]['Sport']

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [78]:
len(data[data['Name']=='Pawe Abratkiewicz']['Year'].unique())

3

__6. How many silver medals in tennis did sportspeople from the Australia team win at the 2000 Olympics? Count every medal from every sportsperson.__

- 0
- 1 
- 2 
- 3

In [82]:
data[(data['Year']==2000) & (data['Team']=='Australia') & (data['Medal']=='Silver') &(data['Sport']=='Tennis')]['ID'].count()

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [98]:
sw_medals= data[(data['Year']==2016) & (data['Team']=='Switzerland')].dropna(subset=['Medal'])['Medal'].count()

11

In [101]:
serb_medals= data[(data['Year']==2016) & (data['Team']=='Serbia')].dropna(subset=['Medal'])['Medal'].count()
print(serb_medals)

54

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [108]:
data[(data['Age']<=55) & (data['Age']>=45)&(data['Year']==2014)].drop_duplicates(subset =['ID']).reset_index(drop=True)['ID'].count()

5

In [109]:
data[(data['Age']<35) & (data['Age']>=15)&(data['Year']==2014)].drop_duplicates(subset =['ID']).reset_index(drop=True)['ID'].count()

2590

In [110]:
data[(data['Age']<=55) & (data['Age']>=45)&(data['Year']==2014)].drop_duplicates(subset =['ID']).reset_index(drop=True)['ID'].count()

5

In [111]:
data[(data['Age']<25) & (data['Age']>=15)&(data['Year']==2014)].drop_duplicates(subset =['ID']).reset_index(drop=True)['ID'].count()

1193

In [112]:
data[(data['Age']<=45) & (data['Age']>=35)&(data['Year']==2014)].drop_duplicates(subset =['ID']).reset_index(drop=True)['ID'].count()

151

In [113]:
data[(data['Age']<35) & (data['Age']>=25)&(data['Year']==2014)].drop_duplicates(subset =['ID']).reset_index(drop=True)['ID'].count()

1397

In [114]:
data[(data['Age']<=55) & (data['Age']>=45)&(data['Year']==2014)].drop_duplicates(subset =['ID']).reset_index(drop=True)['ID'].count()

5

In [115]:
data[(data['Age']<=45) & (data['Age']>=35)&(data['Year']==2014)].drop_duplicates(subset =['ID']).reset_index(drop=True)['ID'].count()

151

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [123]:
data[(data['City']=='Lake Placid') & (data['Season']=='Summer')].count()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [125]:
data[(data['City']=='Sankt Moritz') & (data['Season']=='Winter')].count()

ID        1657
Name      1657
Sex       1657
Age       1563
Height     238
Weight     159
Team      1657
NOC       1657
Games     1657
Year      1657
Season    1657
City      1657
Sport     1657
Event     1657
Medal      224
dtype: int64

__10. What is the absolute difference between the number of unique sports at the 1996 Olympics and 2016 Olympics?__

- 3 
- 10
- 27
- 34

In [133]:
data[(data['Year']==1996)].drop_duplicates(subset =['Sport']).reset_index(drop=True)['Sport'].count()

31

In [131]:
data[(data['Year']==2016)].drop_duplicates(subset =['Sport']).reset_index(drop=True)['Sport'].count()

34